<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Daly Music Academy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <script type="text/javascript" src="/js/homepage.js"></script> -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <!-- <script src="/tinymce js/tinymce/tinymce.min.js"></script>  -->
    <script type="text/javascript" src="/js/heroImageSlider.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Bilbo+Swash+Caps" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Kalam" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/homepage.css">
    
    
</head>

<body>
    
    <header>
        <div class="announcement">
            <p>Change offer from “Until Sep 31st inquire today and save %25 of your first lesson!” to read: <strong> Sign up TODAY and receive Two ½hr lessons FREE! </strong></p>
        </div>
        <div class="headerContainer">
            <div class="dmaLogo">
                <a href="/"><img src="/images/DMA_Logo_Black___Red-removebg-preview.png" alt="logo" width="200px" /></a>
            </div>
        
            <div class="navMenu">
                <nav>
                    <a class="navLink" href="/">Home</a>
                    <a class="navLink" href="/musicLessons">Music Lesson</a>
                    <a class="navLink" href="/timetable">TimeTable</a>
                    <a class="navLink" href="/teachers">Teachers</a>
                    <a class="navLink" href="/testimonials">Testimonials</a>
                    <a class="navLink" href="/#contact">Contact</a>
                    <!-- <a class="navLink" href="/">Portfolio</a> -->
                    <a class="navLink" href="/instrument_Rent_Purchase">Rent/Purchase</a>
                    <a class="navLink" href="/login">Login</a>
                    <a class="navLink" href="/register">Register</a>
                </nav>
            </div>
        </div>
    </header>
