<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Forms and Validations</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="/js/homepage.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="/tinymce js/tinymce/tinymce.min.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Bilbo+Swash+Caps" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Kalam" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/homepage.css">
</head>

<body>
    <header>
        <div class="clearfix">
            <span class="nameTitle" style="float:left">
                <strong>Daly Music Academy</strong>
            </span>
            <span style="float:right;">
                <!-- Reference to the logo camera image: http://clipart-library.com/clipart/rijrpj4rT.htm -->
                <a href="/"><img src="/images/DMALogo.jpg" alt="logo" width="200px" /></a>
            </span>

        </div>

        <!-- Displays the nav bar with links. The links are separated by appropriate padding while styling. -->
        <nav>
            <a class="navLink" href="/">Home</a>
            <a class="navLink" href="/login">Login</a>
        </nav>
    </header>