<%- include('includes/header.ejs') %>
<div class="mainContainer">
    <main >

        <div class="heroImgSlider">
            <img src="images/Violin _ Piano-2.jpg" alt="Image 1">
            <img src="images/DMA-violin student-2-600.jpg" alt="Image 2">
            <img src="images/Angela _ Piano Student - 600.jpg" alt="Image 3">
          </div>
        

        <div class="homepageText" >
            <p >
                Welcome to the Daly Music Academy, we are happy and excited to help you with your musical journey!Daly Music Academy is accepting new students in our Kitchener-Waterloo and Stratford Perth region studios, offering these vibrant communities exceptional and fun private music instruction experiences for Violin, Viola, Fiddle, Piano & Theory.
                Click here to learn more about our lesson options!
                Special Offer: Register TODAY and receive two ½hr lessons (or one 1 hour lesson) FREE! 
            </p>
        </div>
        <div id="contact"  class="gridContact">

            <h1 style="margin-top: 150px;">Contact Us</h1>
            <input type="name" placeholder="Name">
            <input type="email" placeholder="Email">
            <textarea name="message" id="" cols="30" rows="10" placeholder="Type your message here....."></textarea>


        </div>

        
    </main>
</div>
   
    <%- include('includes/footer.ejs') %>