<%- include('includes/header.ejs') %>
<div class="mainContainer">
    <main >

        <div class="heroImgSlider">
            <img src="images/Violin _ Piano-2.jpg" alt="Image 1">
            <!-- <img src="images/DMA-violin student-2-600.jpg" alt="Image 2">
            <img src="images/Angela _ Piano Student - 600.jpg" alt="Image 3"> -->
        </div>
        
        <div class="wrappedContent">
            <div class="wrappedImg">
                <img src="images/DMA-Poster-2 - 8-5 x 11.jpg" alt="DMA Flyer">
            </div>
            <div class="wrappedText" >
                <p >
                    Welcome to the Daly Music Academy, we are happy and excited to help you with your musical journey!Daly Music Academy is accepting new students in our Kitchener-Waterloo and Stratford Perth region studios, offering these vibrant communities exceptional and fun private music instruction experiences for Violin, Viola, Fiddle, Piano & Theory.
                    Click here to learn more about our lesson options!
                    Special Offer: Register TODAY and receive two ½hr lessons (or one 1 hour lesson) FREE! 
                </p>
                <p >
                    Research has revealed a strong correlation between quality music instruction and academic achievement.
                </p>
                <p >
                    “When children learn to play a musical instrument, they strengthen a range of auditory skills. Recent studies suggest that these benefits extend all through life, at least for those who continue to be engaged with music.
                 </p>
                 <p >
                    But a study published last month is the first to show that music lessons in childhood may lead to changes in the brain that persist years after the lessons stop….”  read more!
                 </p>
                 <p >
                    Did You Know…. Music Lessons During School Hours: In accordance with the Private Music Teacher & the School Administration Act, Section 6, (Sub-sec.2.): “…a child is excused from attendance at school, if he/she is absent from school for the purpose of receiving instruction in music and the period of absence does not exceed one-half day in any week.” Parents seeking this option are advised to discuss this further with their child’s school teachers and principal.
                 </p>
                 <p >
                    <h3>Music Makes You Smarter….. While Having Fun!</h3>
                    Learn to play your favourite instruments from professional musicians: Ross Daly, Angela Cox-Daly and the Daly Music Academy Teachers.
                 </p>
                 <p >
                    All styles of music taught: Baroque, Classical, Romantic, Contemporary, Fiddle, Celtic, Latin, Jazz, Pop, Rock, Blues, improvisation and more!
                 </p>
                 <p >
                    We also prepare students for recitals, exams, auditions and music festival performances.
                 </p>
                 <p >
                    Conveniently Located: friendly home/studio environments in the Kitchener, Waterloo and Stratford areas.
                 </p>
            </div>
            
        </div>
        <div id="contact"  class="gridContact">

            <h1 style="margin-top: 150px;">Contact Us</h1>
            <input type="name" placeholder="Name">
            <input type="email" placeholder="Email">
            <textarea name="message" id="" cols="30" rows="10" placeholder="Type your message here....."></textarea>


        </div>

        
    </main>
</div>
   
    <%- include('includes/footer.ejs') %>