<%- include('includes/header.ejs') %>


    <ul> <a class="navLink" href="/">homepage</a></ul>
    <ul><a class="navLink" href="/login">Login</a></ul>
    <ul><a class="navLink" href="/faq">FAQ</a></ul>
    <ul><a class="navLink" href="/testimonials">Testimonials</a></ul>
    <ul><a class="navLink" href="/timetable">TimeTable</a></ul>
    <ul><a class="navLink" href="/teachers">teachers</a></ul>
    <ul><a class="navLink" href="/instrument_Rent_Purchase">Rent/Purchase</a></ul>
    <ul><a class="navLink" href="/register">Register</a></ul>

    <%- include('includes/footer.ejs') %>