<!-- render the header file before rendering current page -->
<%- include('includes/header.ejs') %>
    <main>

        <div class="loginScreen">
            <h1 style="text-align: center;">Login</h1>
            <!-- login form created with input fields and label -->
            <form>
                <div class="loginContainer">
                    <!-- Take user inputs for username and password -->
                    <form action="loginProcess" method="POST">
                        <div class="formFields">
                            <label for="username">Username:</label>
                        </div>
                        <div class="formFields">
                            <input type="text" name="username" id="username">
                        </div>
                        <div class="formFields">
                            <label for="password">Password:</label>
                        </div>
                        <div class="formFields">
                            <input type="password" name="password" id="password">
                        </div>
                </div>
                <div class="loginBtn">
                    <input type="submit" value="Register">
                </div>

            </form>
            <!-- To display error to user in case of incorrect entry for username or password -->
            <p style="color: black;">
                <% if(typeof(error) !='undefined' ){ %>
                    <h2 style="text-align: center;">
                        <%= error %>
                    </h2>
                    <% } %>
            </p>
        </div>


    </main>
    <!-- render the footer file after rendering current page -->
    <%- include('includes/footer.ejs') %>