<!-- render the header file before rendering current page -->
<%- include('includes/adminHeader.ejs') %>
    <main>
        <h1 style="text-align: center;">Thankyou</h1>
        <h2 style="text-align: center;">
            <!-- Display thankyou and success message to user dynamically as per the message passed form inde.js file -->
            <%= resMessage %>
        </h2>
    </main>
    <!-- render the footer file after rendering current page -->
    <%- include('includes/footer.ejs') %>