<%- include('includes/header.ejs') %>

    <h2> Music Lessons
    </h2>

    <div class="musicLessons">
        <h2>Growing Minds, Having Fun!</h2>
        <div class="left">
            <img src="/images/DMA-violin-student.jpg" alt="" width="200px">
        </div>

        <div class="right">


            <p> For the young and young-at-heart, from beginners to advanced. Embrace your passion for music and learn
                to play
                the instrument you love!</p>
            <ul>
                <li> Violin, Viola, Fiddle, Cello – Acoustic & Electric!</li>
                <li> Piano & Keyboard</li>
                <li> Theory, Composition, Music Arranging and Orchestration</li>
            </ul>
            <h3>DMA Packages</h3>
            <ul>
                <li><b>Introductory</b></li>
                <ul>
                    <li>Register TODAY and receive two ½ hour lessons (or one 1 hour lesson) FREE!
                        Please note this is a one-time offer per student registration.</li>
                    <li>Fun!</li>
                </ul>
                <li><b>Vivaldi:</b> $30/week</li>
                <ul>
                    <li>One 30-min lesson per week</li>
                    <li>Includes:</li>
                    <ul>
                        <li>Home practice schedule sheets</li>
                        <li>Worksheets: Exercises, Scales, Studies, Pieces, Theory</li>
                        <li>Fun!</li>
                    </ul>
                    <li><b>Vivaldi Plus:</b> $60/week</li>
                    <ul>
                        <li> Two 30-min lessons per week</li>
                    </ul>
                </ul>
                </li>
                <li><b>Mozart-Most Popular:</b> $45/week</li>
                <ul>
                    <li>One 45-min lesson per week</li>
                    <li>Includes</li>
                    <ul>
                        <li>Home Practice Schedule Sheets, Worksheets: Exercises, Scales, Studies, Pieces, Theory</li>
                        <li>Music Festival / Competition preparation</li>
                        <li>Audition preparation</li>
                        <li>Fun!</li>
                    </ul>
                </ul>
                <li><b>Beethoven:</b> $60/week</li>
                <ul>
                    <li>One 60-min lesson per week</li>
                    <li>Includes</li>
                    <ul>
                        <li>Home Practice Schedule Sheets, Worksheets: Exercises, Scales, Studies, Pieces, Theory</li>
                        <li>Music Festival / Competition preparation</li>
                        <li>Audition preparation</li>
                        <li>Exam preparation</li>
                        <li>Fun!</li>
                    </ul>
                </ul>
                <li><b>Paganini:</b> $120/week</li>
                <ul>
                    <li>Two 60-min lesson per week</li>
                    <li>Includes</li>
                    <ul>
                        <li>Home Practice Schedule Sheets, Worksheets: Exercises, Scales, Studies, Pieces, Theory</li>
                        <li>Music Festival / Competition preparation</li>
                        <li>Audition preparation</li>
                        <li>Exam preparation</li>
                        <li> Masterclasses</li>
                        <li>Class Recitals / Showcases</li>
                        <li>Fun!</li>
                    </ul>
                </ul>
            </ul>
        </div>

        <div class="left">
            <img src="images/Angela -with-piano-student.jpg" alt="" width="400px">
        </div>
        <div class="right">
            <ul>
                <li>
                    <b>Extras:</b>
                </li>
                <ul>
                    <li>
                        Additional Lessons, Arrangements of music for special occasions (religious services, family
                        events,
                        favorite
                        pieces/songs, etc.), Masterclasses, Class Recitals, Showcases, Ensemble Coaching, Performance
                        Opportunities,
                        Accompanists.
                    </li>
                </ul>
                <li>
                    <b>Payment:</b>
                </li>
                <ul>
                    <li>No registration fees!</li>
                    <li>We accept: Cash, Cheque, e-transfers</li>
                    <li>Payment schedule: Weekly or Monthly (at the beginning of the month)</li>

                </ul>
                <li>
                    <b>Cancellation:</b>
                </li>
                <ul>
                    <li>We require at least 24 - 48 hours notice for cancellation, (excluding a sudden illness or family
                        urgent
                        situation).</li>
                    <li>Less than 24hrs notice and the lesson will be charged for unless due to sudden illness or family
                        emergency.</li>
                    <li>Missed lessons can be rescheduled for another day/time in the same week.</li>
                </ul>
                <li>
                    <b>Referral Program:</b>
                </li>
                <ul>
                    <li>For every one of your referrals that registers with us you will earn a $30 credit towards your
                        lessons!</li>
                </ul>
            </ul>
        </div>
    </div>

    <%- include('includes/footer.ejs') %>