<%- include('includes/header.ejs') %>

    <h2> Music Lessons
    </h2>

<div class="musicLessons">
    <h2>Growing Minds, Having Fun!</h2>
    <div class="left">
        <img src="/images/DMA-violin-student.jpg" alt="" width="200px">
    </div> 
    
    <div class="right">
        
        
        <p> For the young and young-at-heart, from beginners to advanced. Embrace your passion for music and learn to play
        the instrument you love!</p>
        <ul>
            <li> Violin, Viola, Fiddle, Cello – Acoustic & Electric!</li>
            <li> Piano & Keyboard</li>
            <li> Theory, Composition, Music Arranging and Orchestration</li>
            <li> Guitar, Bass, Drums and Voice</li>
        </ul>
        <h3>DMA Packages</h3>
        <ol>
            <li>Introductory</li>
            <ul>
                <li>Register TODAY and receive two ½ hour lessons (or one 1 hour lesson) FREE!
                    Please note this is a one-time offer per student registration.</li>
                <li>Fun!</li>
            </ul>
            <li>Vivaldi: ($30/week) One 30-min lesson per week, Includes:
                <ul>
                    <li>Home practice schedule sheets, Worksheets: Exercises, Scales, Studies, Pieces, Theory</li>
                    <li>Fun!</li>
                </ul>
            <li> Vivaldi Plus: ($60/week) Two 30-min lessons per week</li>
            </li>
            <li>Mozart: ($45/week) Most Popular! One 45-min lesson per week, Includes:</li>
            <ul>
                <li>Home Practice Schedule Sheets, Worksheets: Exercises, Scales, Studies, Pieces, Theory</li>
                <li>Music Festival / Competition preparation</li>
                <li>Audition preparation</li>
                <li>Fun!</li>
            </ul>
            <li>Beethoven: ($60/week) One 60-min lesson per week, Includes:</li>
            <ul>
                <li>Home Practice Schedule Sheets, Worksheets: Exercises, Scales, Studies, Pieces, Theory</li>
                <li>Music Festival / Competition preparation</li>
                <li>Audition preparation</li>
                <li>Exam preparation</li>
                <li>Fun!</li>
            </ul>
            <li>Paganini: ($120/week) Most Popular! Two 60-min lessons per week, Includes:</li>
            <ul>
                <li>Home Practice Schedule Sheets, Worksheets: Exercises, Scales, Studies, Pieces, Theory</li>
                <li>Music Festival / Competition preparation</li>
                <li>Audition preparation</li>
                <li>Exam preparation</li>
                <li> Masterclasses</li>
                <li>Class Recitals / Showcases</li>
                <li>Fun!</li>
            </ul>
        </ol>
        
    </div>
    
    <div class="left">
        <img src="images/Angela -with-piano-student.jpg" alt="" width="400px">
    </div>
    <div class="right">
        
        <h3>Extras:</h3>
        <p> Additional Lessons, Arrangements of music for special occasions (religious services, family events, favorite
        pieces/songs, etc.), Masterclasses, Class Recitals, Showcases, Ensemble Coaching, Performance Opportunities,
        Accompanists.</p>
        <h3>Payment:</h3>
        <p>   No registration fees!
        We accept: Cash, Cheque, e-transfers
        Payment schedule: Weekly or Monthly (at the beginning of the month)</p>
        <h3>Cancellation:</h3>
        <p> We require at least 24 - 48 hours notice for cancellation, (excluding a sudden illness or family urgent
        situation).
        Less than 24hrs notice and the lesson will be charged for unless due to sudden illness or family emergency.
        Missed lessons can be rescheduled for another day/time in the same week.</p>
        <h3>Referral Program:</h3>
        <p>  For every one of your referrals that registers with us you will earn a $30 credit towards your lessons!</p>
        
    </div>
</div>

    <%- include('includes/footer.ejs') %>