<%- include('includes/header.ejs') %>

    <main>
        <div class="teachers">
            <!-- Hero Section -->
            <section class="homePageSection1">
                <h1 style="text-align: center;"> "Our Story"
                </h1>
                <p style="padding-inline: 30px">Ross Daly and Angela Cox-Daly are professional teachers and performing
                    musicians, both with over 40 years
                    of
                    experience, who share their passion for music while making learning fun! Together, they co-founded
                    Daly
                    Music Academy in 1987. They were also itinerant string teachers for the Scarborough and Etobicoke
                    Boards
                    of
                    Education from 1987-1988. Over the years, they have been teachers at various music camps and
                    adjudicators at
                    several music festival competitions.
                    "We both love teaching and being an integral part of our students' musical growth. We inspire our
                    students
                    to reach their highest potential by offering quality private lessons, recital performance
                    opportunities,
                    master classes, audition preparation, music festival participation (e.g. Kiwanis, Rotary) and Royal
                    Conservatory of Music (RCM) examination preparation.
                    Music is enriching and FUN!"
                </p>
            </section>

            <!-- Grid Section after Hero Section to have images with clip path and text -->
            <section class="homePageSection2-parent">
                <!--  child elements of grid section -->
                <div class="homePageSection2-child">
                    <h1>
                        Angela Cox Daly
                    </h1>
                    <p class="sideText">
                        Angela has over 40 years of teaching experience and is passionate to share her expertise and
                        gift of
                        music
                        with students of all ages! <br /><br />
                        Angela was on scholarship on both violin and piano at the Royal Conservatory of Music (Toronto)
                        in
                        the
                        Course for Gifted Students for seven years and was a recipient of over one hundred awards and
                        scholarships
                        in both piano and violin prior to graduating from the University of Toronto with a Bachelor of
                        Music
                        in
                        Performance degree (MusBacPerf) in 1987. <br /><br />
                        Angela was a member of the Kitchener Waterloo Symphony Orchestra (KWSO) for 32 years, performing
                        as
                        Second
                        Associate Concertmaster until 2003. After a playing related injury and almost two years off,
                        Angela
                        gratefully returned as a section first violinist. She is an active chamber music performer in
                        Canada
                        and the
                        United States and has appeared as soloist with various chamber and symphony orchestras including
                        the
                        Kitchener Waterloo Symphony, Kitchener Waterloo Community Orchestra, Scarborough Philharmonic
                        and
                        the North
                        York Symphony, and the Keene Chamber Orchestra (Keene, NH, USA) <br /><br />
                        Angela enjoys a versatile career including conducting the KWS Youth Strings, teaching violin and
                        piano
                        privately and at schools, coaching string ensembles, adjudicating numerous music festivals &
                        competitions in
                        Ontario, and instructing and performing at summer music festivals. She was on faculty at Wilfrid
                        Laurier
                        University (Waterloo, ON) as a violin instructor, 1990, 1991. <br /><br />
                        Angela and Ross have three children who have been members of all levels of the wonderful
                        Kitchener-Waterloo
                        Youth Orchestra programme.
                    </p>
                </div>
                <div class="homePageSection2-child">
                    <div class="profile-card">
                        <div class="img">
                            <img src="../images/angela-cox-daly.jpg">
                        </div>
                        <div class="caption">
                            <p>Violin | Piano</p>
                            <p>Music Director and Teacher</p>
                            <div class="social-links">
                                <a href="#"><i class="fab fa-facebook"></i></a>
                                <a href="#"><i class="fab fa-instagram"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- Another grid Section after Hero Section to have images with clip path and text -->
            <section class="homePageSection3-parent">
                <!--  child elements of grid section -->
                <div class="homePageSection3-child">
                    <div class="profile-card">
                        <div class="img">
                            <img src="/images/Ross-Daly.jpg">
                        </div>
                        <div class="caption">
                            <p>Violin | Viola | Fiddle | Piano | Bass | Theory | Music Arranging</p>
                            <p>Music Director and Teacher</p>
                            <div class="social-links">
                                <a href="#"><i class="fab fa-facebook"></i></a>
                                <a href="#"><i class="fab fa-instagram"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="homePageSection3-child">
                    <h1>
                        Ross Daly
                    </h1>
                    <p class="sideText">
                        Ross graduated from the University of Toronto with a Bachelor of Music in Performance degree
                        (MusBacPerf) in
                        1987. He has been a professional musician for 35 years and has performed around the globe
                        including
                        Canada
                        (coast-to-coast), USA, Mexico, the Dominican Republic & Abu Dhabi. His main instruments are
                        violin
                        and viola
                        (acoustic & electric), piano/keyboard and electric bass. He is also noted as a music arranger,
                        composer,
                        conductor and music festival adjudicator. Ross performs many styles of music - including
                        classical,
                        rock,
                        pop, blues, jazz, Celtic, Latin, Oktoberfest, new age, original, seasonal, etc. - in several
                        different
                        ensembles, bands and tribute stage shows.<br /><br />
                        Ross was the conductor and program director of the Mannheim Youth Strings; has conducted
                        rehearsals
                        and
                        sectional sessions with the Kitchener Waterloo Symphony Youth Strings; and currently directs and
                        conducts
                        the Classical Rock Orchestra Camp.<br /><br />
                        Ross is also the President of Daly Live Music & Entertainment (DLME), Ovation Symphonic
                        Productions
                        (OSP),
                        and is the Vice President of the Central Ontario Musicians' Association (Canadian Federation of
                        Musicians).<br /><br />
                        Ross is also a certified Personal Trainer Specialist. He offers unique fitness training programs
                        which are
                        specifically designed to increase your strength, endurance, and flexibility, and will assist in
                        injury
                        prevention - helping you perform at your optimum! The nutrition component will also help you
                        meet or
                        exceed
                        your weight loss goals! For more information see Daly Fitness. <br>
                    </p>
                </div>
            </section>
        </div>
    </main>

    <!-- <div>
        <h3> Teachers </h3>
        <img src="/images/Duo.jpg" alt="">
        <h2>Our Story</h2>
        <div>
            Ross Daly and Angela Cox-Daly are professional teachers and performing musicians, both with over 40 years of
            experience, who share their passion for music while making learning fun! Together, they co-founded Daly
            Music Academy in 1987. They were also itinerant string teachers for the Scarborough and Etobicoke Boards of
            Education from 1987-1988. Over the years, they have been teachers at various music camps and adjudicators at
            several music festival competitions.
            "We both love teaching and being an integral part of our students' musical growth. We inspire our students
            to reach their highest potential by offering quality private lessons, recital performance opportunities,
            master classes, audition preparation, music festival participation (e.g. Kiwanis, Rotary) and Royal
            Conservatory of Music (RCM) examination preparation.
            Music is enriching and FUN!"<br /><br />
            [Insert photo of us at RTH]

        </div>

        <h2> Angela Cox-Daly</h2>
        Violin | Piano <br /><br />

        <img src="/images/angela-cox-daly.jpg" alt="">
        <div>
            Angela has over 40 years of teaching experience and is passionate to share her expertise and gift of music
            with students of all ages! <br /><br />
            Angela was on scholarship on both violin and piano at the Royal Conservatory of Music (Toronto) in the
            Course for Gifted Students for seven years and was a recipient of over one hundred awards and scholarships
            in both piano and violin prior to graduating from the University of Toronto with a Bachelor of Music in
            Performance degree (MusBacPerf) in 1987.
            Angela was a member of the Kitchener Waterloo Symphony Orchestra (KWSO) for 32 years, performing as Second
            Associate Concertmaster until 2003. After a playing related injury and almost two years off, Angela
            gratefully returned as a section first violinist. She is an active chamber music performer in Canada and the
            United States and has appeared as soloist with various chamber and symphony orchestras including the
            Kitchener Waterloo Symphony, Kitchener Waterloo Community Orchestra, Scarborough Philharmonic and the North
            York Symphony, and the Keene Chamber Orchestra (Keene, NH, USA)
            Angela enjoys a versatile career including conducting the KWS Youth Strings, teaching violin and piano
            privately and at schools, coaching string ensembles, adjudicating numerous music festivals & competitions in
            Ontario, and instructing and performing at summer music festivals. She was on faculty at Wilfrid Laurier
            University (Waterloo, ON) as a violin instructor, 1990, 1991.
            Angela and Ross have three children who have been members of all levels of the wonderful Kitchener-Waterloo
            Youth Orchestra programme.

        </div>

        <h2>Ross Daly</h2>
        Violin | Viola | Fiddle | Piano | Bass | Theory | Music Arranging <br /><br />

        <img src="/images/Ross-Daly.jpg" alt="">
        <div>
            Ross graduated from the University of Toronto with a Bachelor of Music in Performance degree (MusBacPerf) in
            1987. He has been a professional musician for 35 years and has performed around the globe including Canada
            (coast-to-coast), USA, Mexico, the Dominican Republic & Abu Dhabi. His main instruments are violin and viola
            (acoustic & electric), piano/keyboard and electric bass. He is also noted as a music arranger, composer,
            conductor and music festival adjudicator. Ross performs many styles of music - including classical, rock,
            pop, blues, jazz, Celtic, Latin, Oktoberfest, new age, original, seasonal, etc. - in several different
            ensembles, bands and tribute stage shows.<br /><br />
            Ross was the conductor and program director of the Mannheim Youth Strings; has conducted rehearsals and
            sectional sessions with the Kitchener Waterloo Symphony Youth Strings; and currently directs and conducts
            the Classical Rock Orchestra Camp.<br /><br />
            Ross is also the President of Daly Live Music & Entertainment (DLME), Ovation Symphonic Productions (OSP),
            and is the Vice President of the Central Ontario Musicians' Association (Canadian Federation of
            Musicians).<br /><br />
            Ross is also a certified Personal Trainer Specialist. He offers unique fitness training programs which are
            specifically designed to increase your strength, endurance, and flexibility, and will assist in injury
            prevention - helping you perform at your optimum! The nutrition component will also help you meet or exceed
            your weight loss goals! For more information see Daly Fitness.

        </div>
    </div> -->

    <%- include('includes/footer.ejs') %>