<%- include('includes/header.ejs') %>
    <!-- <h3> Testimonials </h3>
    [Insert photo - TBA] -->
    <div class="testimonials">


        <figure class="snip1533">
            <figcaption>
                <blockquote>
                    <p>Ross and Angela are flexible in their teaching curriculum and adjust their lessons to my son’s
                        personal
                        interests and needs. This keeps him motivated and challenged. I’m astounded at the progress my
                        son has made on
                        the violin in such a short time. This is in no small part due to the quality of instruction and
                        careful
                        attention that he is receiving from the Daly’s.</p>
                </blockquote>
                <h3>Lindsay R.</h3>
            </figcaption>
        </figure>
        <figure class="snip1533">
            <figcaption>
                <blockquote>
                    <p>Ross & Angela are both excellent music teachers! As an adult student, sometimes it’s hard to find
                        times to
                        practice with a busy schedule but Ross is always so patient, kind and encouraging, so is Angela!
                        I would highly
                        recommend the Daly Music Academy to anyone!</p>
                </blockquote>
                <h3>Cherissa H.</h3>
            </figcaption>
        </figure>
        <figure class="snip1533">
            <figcaption>
                <blockquote>
                    <p>The BEST teachers ever!
                    </p>
                </blockquote>
                <h3>Aleksia J.</h3>
            </figcaption>
        </figure>

        <figure class="snip1533">
            <figcaption>
                <blockquote>
                    <p>“Angela Daly has been the most encouraging, enthusiastic and dedicated music teacher we have ever
                        had. I
                        genuinely feel that she cares about my son’s learning and that she is truly invested in him
                        having a fantastic
                        music experience with the violin. I truly can say that no other teacher (there have been 4
                        others) has motivated
                        him as deeply as Angela has. I am so grateful that the Daly’s are a part of my son’s development
                        both musically
                        and as a person. The Daly’s are wonderful to work with and I highly recommend them.</p>
                </blockquote>
                <h3>Diana D.</h3>
            </figcaption>
        </figure>
        <figure class="snip1533">
            <figcaption>
                <blockquote>
                    <p>Dear Angela, I can’t thank you enough for all of your encouragement and support in my musical
                        endeavours.
                        Everything you have taught me will live forever in my playing! Your strength and heart have
                        inspired me in all
                        aspects of my life. Thank you for being such a wonderful teacher and friend.</p>
                </blockquote>
                <h3>Jennifer M.</h3>
            </figcaption>
        </figure>
        <figure class="snip1533">
            <figcaption>
                <blockquote>
                    <p>Wonderful, thanks! And thank you for your continued patience with our daughter. I think it must
                        be
                        a real
                        challenge to make sure she still feels inspired and motivated, even as she is spending less time
                        on violin than
                        she did when she was younger. Her piano teachers were not able to adapt their expectations,
                        instead showing
                        their disappointment at each lesson. In contrast, with your guidance she has finally learned how
                        to practice
                        properly to make the most of her time. She was not at all concerned about missing her last
                        lesson with you, as
                        she said she “knew exactly what to do”. The confidence she felt is a great tribute to you as a
                        teacher. We are
                        all extremely grateful.
                    </p>
                </blockquote>
                <h3>Naomi N.</h3>
            </figcaption>
        </figure>
        <figure class="snip1533">
            <figcaption>
                <blockquote>
                    <p>I just wanted to say “Thank you!”. Ethan was very happy with the whole experience at the Kiwanis
                        Music
                        Festival. We are very proud of his effort and outstanding results. I know having you there was
                        an important part
                        of Ethan’s success. He practiced more than I could believe possible. He is ready and excited to
                        play Allegro on
                        Thursday morning. We all hope to be there to watch him perform.</p>
                </blockquote>
                <h3>Elizabeth M.</h3>
            </figcaption>
        </figure>


        <br /><br />

        We look forward to helping you along your musical journey!<br />
        Ross Daly & Angela Cox-Daly<br />
        Music Directors & Teachers

    </div>

    <%- include('includes/footer.ejs') %>